spotify_credentials.py

*.ipynb
.ipynb_checkpoints/
__pycache__/
Testing/

save_*.py

Data/data_artist_*.pkl
!Data/data_artist_?.pkl
!Data/data_artist_??.pkl
!Data/data_artist_1??.pkl
!Data/data_artist_200.pkl

Data/cv_results_artist_*.pkl
!Data/cv_results_artist_?.pkl
!Data/cv_results_artist_??.pkl
!Data/cv_results_artist_1??.pkl
!Data/cv_results_artist_200.pkl

Figures/